numpy>=1.18.5
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
matplotlib>=3.2.2
numpy>=1.18.5
Pillow>=7.1.2
pandas>=1.1.4


# Tracking ------------------------------------
filterpy==1.4.5
scikit-image==0.17.2
lap==0.4.0
